<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @division.name %>
</p>

<h3> Tournament Brackets</h3>

<% @division.teams.each_slice(2).to_a.each do |team| %>
  <ul>
    <li><%= team[0].name %> - <%= team[1].name %></li>
  </ul>
<% end %>

<%= link_to 'Start Matches', new_tournament_division_match_path(@tournament, @division) %>
<%= link_to 'Generate results for match', generate_match_result_tournament_division_path(@tournament, @division) %>
<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
