<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= collection_check_boxes(:tournament, :team_ids, Team.all, :id, :name, { include_hidden: false }) %>
  </div>

  <%= link_to 'Create Team', new_team_path  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
