<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tournament.status %>
</p>

<h3> First Division </h3>
<% @tournament.teams.joins(:tournament_entrants).where(tournament_entrants: { competition_type: :group_a }).distinct.each do |team| %>
  <ul>
    <li><%= team.name %></li>
  </ul>
<% end %>

<h3> Second Division </h3>
<% @tournament.teams.joins(:tournament_entrants).where(tournament_entrants: {competition_type: :group_b }).distinct.each do |team| %>
  <ul>
    <li><%= team.name %></li>
  </ul>
<% end %>

<%= render 'tournament_entrants/form', tournament_entrant: @tournament.tournament_entrants.new %>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

<% if @tournament.matches.present? %>
  <%= link_to 'Show Matches', tournament_matches_path(@tournament) %>
<% else %>
  <%= link_to 'Generate Matches', generate_matches_tournament_path(@tournament) %>
<% end %>

<% unless @winners %>
  <%= link_to 'Generate Playoff Brackets', generate_playoff_matches_tournament_url(@tournament) %>
<% end %>