<%= form_with(model: [tournament, match]) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :winner %>
    <%= form.select :winner_id,
                    options_for_select([[Team.find(@match.first_team).name, Team.find(@match.first_team).id],
                                        [Team.find(@match.second_team).name, Team.find(@match.second_team).id]]),
                    include_blank: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
