<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<% %i[group_a group_b].each do |group| %>
  <table>
    <thead>
    <tr>
      <th>First Player Id</th>
      <th>Second Player Id</th>
      <th>Group</th>
      <th>Winner</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <h3> <%= "#{group.to_s.titleize}" %> </h3>
    <% @matches.where(group: group).each do |match| %>
      <tr>
        <td><%= Team.find(match.first_team).name %></td>
        <td><%= Team.find(match.second_team).name %></td>
        <td><%= match.group %></td>
        <td><%= match.winner.present? ? match.winner.name : 'Game pending' %></td>
        <td><%= link_to 'Show', tournament_match_path(@tournament, match) %></td>
        <td><%= link_to 'Select winner', edit_tournament_match_path(@tournament, match) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>First Player Id</th>-->
<!--      <th>Second Player Id</th>-->
<!--      <th>Group</th>-->
<!--      <th>Winner</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <h3> First Division </h3>-->
  <%# @matches.where(group: :group_a).each do |match| %>
<!--    <tr>-->
<!--      <td><%#= Team.find(match.first_team).name %></td>-->
<!--      <td><%#= Team.find(match.second_team).name %></td>-->
<!--      <td><%#= match.group %></td>-->
<!--      <td><%#= match.winner.present? ? match.winner.name : 'Game pending' %></td>-->
<!--      <td><%#= link_to 'Show', tournament_match_path(@tournament, match) %></td>-->
<!--      <td><%#= link_to 'Select winner', edit_tournament_match_path(@tournament, match) %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<table>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>First Player Id</th>-->
<!--    <th>Second Player Id</th>-->
<!--    <th>Group</th>-->
<!--    <th>Winner</th>-->
<!--    <th colspan="3"></th>-->
<!--  </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <h3> Second Division </h3>-->
  <%# @matches.where(group: :group_b).each do |match| %>
<!--    <tr>-->
<!--      <td><%#= Team.find(match.first_team).name %></td>-->
<!--      <td><%#= Team.find(match.second_team).name %></td>-->
<!--      <td><%#= match.group %></td>-->
<!--      <td><%#= match.winner.present? ? match.winner.name : 'Game pending' %></td>-->
<!--      <td><%#= link_to 'Show', tournament_match_path(@tournament, match) %></td>-->
<!--      <td><%#= link_to 'Select winner', edit_tournament_match_path(@tournament, match) %></td>-->
<!--    </tr>-->
  <%# end %>
<!--  </tbody>-->
<!--</table>-->

<%= link_to 'Generate results for all matches', generate_results_for_all_matches_tournament_matches_path(@tournament)  %>
<%= link_to 'Back to tournament', tournament_url(@tournament) %>
<%= link_to 'Back to tournaments list', tournaments_url %>

<br>