<p id="notice"><%= notice %></p>

<p>
  <strong>First Team:</strong>
  <%= Team.find(@match.first_team).name %>
</p>

<p>
  <strong>Second Team:</strong>
  <%= Team.find(@match.second_team).name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @match.group %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner.name if @match.winner.present? %>
</p>

<%= link_to 'Edit', edit_tournament_match_path(@tournament, @match) %>
<%= link_to 'Back', tournament_matches_path(@tournament) %>
