// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table.bracket {
  border-collapse: collapse;
  border: none;
}

.bracket td {
  vertical-align: middle;
  width: 40em;
  margin: 0;
  padding: 10px;
}

.bracket td p {
  border-bottom: solid 1px black;
  margin: 0;
  padding: 5px 5px 5px 5px;
}

.bracket th{
  text-align:center;
}