<%= form_with(model: [@tournament, tournament_entrant]) do |form| %>
  <% if tournament_entrant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament_entrant.errors.count, "error") %> prohibited this tournament_entrant from being saved:</h2>

      <ul>
        <% tournament_entrant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team %>
    <%= form.select :team_id, Team.where.not(id: Team.where(id: TournamentEntrant.all.pluck(:team_id)).pluck(:id)).collect { |p| [p.name, p.id] } %>
  </div>

  <%= form.hidden_field :tournament_id, value: @tournament.id %>

  <div class="field">
    <% %i[group_a group_b].each do |group| %>
      <% unless @tournament.tournament_entrants.where(competition_type: group).count == 8 %>
        <%= form.label :competition_type %>
        <%= form.select :competition_type, TournamentEntrant.competition_types.keys.first(2).reject { |key| key if @tournament.tournament_entrants.where(competition_type: key).count == 8 } %>
      <% end %>
  <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
