<p id="notice"><%= notice %></p>

<h1>Tournament Entrants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_entrants.each do |tournament_entrant| %>
      <tr>
        <td><%= link_to 'Show', tournament_entrant %></td>
        <td><%= link_to 'Edit', edit_tournament_entrant_path(tournament_entrant) %></td>
        <td><%= link_to 'Destroy', tournament_entrant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament Entrant', new_tournament_entrant_path %>
