<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @tournament_entrant.team.name %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @tournament_entrant.tournament.name %>
</p>

<p>
  <strong>Competition Type:</strong>
  <%= @tournament_entrant.tournament.competition_type %>
</p>


<%= link_to 'Edit', edit_tournament_entrant_path(@tournament_entrant) %> |
<%= link_to 'Back', tournament_entrants_path %>
